[build]
builder = "nixpacks"
buildCommand = "npm install --include=dev && npm run build && npm run migrate && npm run seed"

[deploy]
startCommand = "npm start"
healthcheckPath = "/health"
healthcheckTimeout = 60
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
